// Place all the styles related to the Words controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.word 
{
	font-weight: bold;
	text-align: center;
	margin-top: 5px;	
}

.word.wrong
{
	text-decoration:line-through;
}

.word.right
{
	color:red;
}

.label
{
	color:gray;
	text-align: center;
}

.centered
{
	text-align:center;
}

